.container {
    padding: 1rem;
    gap: 15px;
    flex-direction: column;
    display: flex;
}

.tabsWrapper {
    margin-bottom: 1rem;
    position: relative;
}

.flicking-panel {
    display: inline-block;
}

.tab {
    padding: 0.5rem 1rem;
    background: #eee;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    white-space: nowrap;
    transition: background 0.3s, color 0.3s, transform 0.3s;
    margin: 0 0.5rem;
    flex-shrink: 0;
    color: #000;
}

.tab:hover {
    background-color: #ddd;
}

.active {
    background: #000;
    color: #fff;
}

.yearSelector {
    display: flex;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    margin-bottom: 1rem;
    background: #eee;
    border-radius: 1rem;
    max-width: 200px;
}

.options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
}

.optionCard {
    padding: 1rem;
    background: #f7f7f7;
    border-radius: 0.5rem;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
